body {
    margin: 0px;
    background-image: url('./media/fondo-hojas.png');
}

.texto-rojo {
    color: #dc3545;
}

.video-banner {
    max-height: 101vh;
    height: 101vh;
    width: 100vw;
    transform: translate(-1px, -1px)
}

.text-block {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: white !important;
    padding: 20px !important;
    text-align: center !important;
}

.tb-center {
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}

.center-item-vert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-sep-20per {
    width: 20%;
}

.btn-navbar {
    padding: 0px 5px 0px 5px;
}

.dim-img-card {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 22rem;
    max-height: 22rem;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fondo {
    /*background: rgba(0, 0, 0, 0.75);*/
}

.boton-grande {
    min-width: 40%;
    max-width: 40%;
    font-size: 1.5rem !important;
    margin: 1rem 1rem 1rem 1rem;
}