html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-image: url('./media/fondo-hojas.png');
}

.texto-rojo {
    color: #dc3545;
}

.video-banner {
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
}

.dim-logo {
    min-height: 3rem !important;
    max-height: 3rem !important;
    min-width: 3rem !important;
    max-width: 3rem !important;
}

.text-block {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: white !important;
    padding: 20px !important;
    text-align: center !important;
}

.text-block-nosotros {
    background-color: rgba(255, 255, 255, 1) !important;
    color: black !important;
    padding: 0px !important;
}

.tb-center {
    top: 40%;
    bottom: 40%;
    left: 30%;
    right: 30%;
}

.tb-center-nosotros {
    top: 30%;
    bottom: 30%;
    left: 50%;
    right: 0%;
}

.center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-item-hor {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-item-vert {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.center-item-vert-nos {
    position: absolute;
    top: 50%;
    left: 3%;
    right: 3%;
    transform: translate(0%, -50%);
}

.div-sep-20per {
    width: 20%;
}

.btn-navbar {
    padding: 0px 5px 0px 5px;
}

.dim-img-card {
    min-width: 17rem !important;
    max-width: 17rem;
    min-height: 27rem;
    max-height: 27rem;
    margin: 10px 10px 10px 10px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fondo {
    background-image: url('./media/fondo-hojas.png');
}

.boton-grande {
    min-width: 40%;
    max-width: 40%;
    font-size: 1.5rem !important;
    margin: 1rem 1rem 1rem 1rem;
}

.texto-header {
    font-family: "Allison", sans-serif;
    font-size: 2rem;
    margin: 0 0 0 0;
}

.header {
    width: 100vw;
}

.centrar {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-titulo {
    font-size: 2rem;
    margin: 0 0 0 0;
}

.centra-txt {
    text-align: center;
}

.quita-margen {
    margin: 0px 0px 0px 0px !important;
}

.quita-padding {
    padding: 0px 0px 0px 0px !important;
}

.img-detalle-producto {
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    padding: 0rem 0px 1rem 0px;
}

.custom-card {
    left: 50%;
    transform: translateX(-50%);
}

.puntero {
    cursor: pointer;
    transition: transform 0.2s;
}

.puntero:hover {
    border: black 1px solid;
    /*-webkit-animation: scale-up-center 0.2s ease-out both;
	        animation: scale-up-center 0.2s ease-out both;*/
    transform: scale(1.08)
}

.texto-video {
    font-size: 1.2rem;
}

.texto-detalle {
    font-size: 1.5rem;
}

.div-sep-nos {
    padding: 2rem 0px 2rem 0px;
    width: 50%;
}

.caja-shadow {
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px gray;
}

.sep-sup {
    padding: 5rem 0rem 5rem 0rem;
}

.img-custom-right-left {
    min-width: 10%;
    max-width: 100%;
    min-height: 10%;
    max-height: 100%;
}

.img-custom-up-down {
    min-width: 10%;
    max-width: 100%;
    min-height: 10%;
    max-height: 100%;
}

.img-custom-up-down-mobile {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.manito {
    cursor: pointer;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: "Architects Daughter", sans-serif;
    color: green;
    text-shadow: 0px 1px 1px #0a0a0a;
}

:is(p, button, label, span) {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1rem;
}

p b span {
    font-size: 1.5rem;
}

@media only screen and (max-width: 1350px) {
    .tb-center {
        top: 25%;
        bottom: 25%;
        left: 30%;
        right: 30%;
    }
}

@media all and (min-width: 1000px) and (orientation: portrait) {
    .tb-center {
        top: 30%;
        bottom: 30%;
        left: 20%;
        right: 20%;
    }

    .texto-video {
        font-size: 2.5rem !important;
    }
}

@media all and (max-width: 1000px) {
    .center-item-vert {
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .text-block {
        position: absolute !important;
        background-color: rgba(0, 0, 0, 0.75) !important;
        color: white !important;
        padding: 20px !important;
        text-align: center !important;
    }
    
    .tb-center {
        top: 30%;
        bottom: 30%;
        left: 20%;
        right: 20%;
    }

    .div-sep-20per {
        width: 0%;
    }

    .texto-header {
        font-family: "Dancing Script", sans-serif;
        font-size: 1rem;
        margin: 0 0 0 0;
    }

    .dim-logo {
        min-height: 3rem !important;
        max-height: 3rem !important;
        min-width: 3rem !important;
        max-width: 3rem !important;
    }
}

@media all and (max-width: 800px) and (orientation: landscape) {
    .tb-center {
        top: 30%;
        bottom: 10%;
        left: 10%;
        right: 10%;
    }
}

@media all and (min-width: 700px) and (orientation: portrait) {
    .texto-video {
        font-size: 1.2rem;
    }
}

@media all and (min-width: 700px) and (orientation: portrait) {
    .texto-video {
        font-size: 1.8rem;
    }
}

@media all and (max-width: 700px) and (orientation: landscape) {
    .tb-center {
        top: 30%;
        bottom: 10%;
        left: 5%;
        right: 5%;
    }
}

@media all and (max-width: 450px) {
    .center-item-vert {
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .text-block {
        position: absolute !important;
        background-color: rgba(0, 0, 0, 0.75) !important;
        color: white !important;
        padding: 20px !important;
        text-align: center !important;
    }
    
    .tb-center {
        top: 30%;
        bottom: 30%;
        left: 10%;
        right: 10%;
    }

    .boton-grande {
        min-width: 90%;
        max-width: 90%;
        font-size: 1.5rem !important;
        margin: 1rem 1rem 1rem 1rem;
    }

    .header ul li a {
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
}

@media all and (max-width: 350px) {
    .tb-center {
        top: 25%;
        bottom: 25%;
        left: 10%;
        right: 10%;
    }
}